app-imagen {
  transition: 0.3s ease-in-out;
}

app-imagen:hover {
  transform: translateY(-3px);
  transition: 0.3s ease-in-out;
}

.title-galery {
  font-family: Archivo-black;
  font-size: 46px;
  margin: 30px 0 30px 0;
}

.subir-button {
  background-color: black;
  color: white;
  border-radius: 10px;
  font-family: Opensans-bold;
  transition: 0.4s ease-in-out;
}

.subir-button:hover {
  background-color: rgb(24, 24, 24);
  transform: translateY(-3px);
  transition: 0.3s ease-in-out;
}

.modal-title {
  font-family: Archivo;
  font-weight: 900;
}

.modal-content {
  border-radius: 10px;
}

.modal-button {
  background-color: rgb(10, 160, 18);
  color: white;
  border-radius: 10px;
  font-family: Opensans-bold;
  transition: 0.3s ease-in-out;
}

.modal-button:hover {
  background-color: rgb(8, 129, 14);
  transform: translateY(-2px);
  transition: 0.3s ease-in-out;
}

button:focus {
  outline: none;
  box-shadow: none;
}
