<!-- Carousel -->
<div id="carrusel" class="carousel slide" data-bs-ride="carousel">

  <!-- Indicators/dots -->
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carrusel" data-bs-slide-to="0" class="active"></button>
    <button type="button" data-bs-target="#carrusel" data-bs-slide-to="1"></button>
  </div>

  <!-- The slideshow/carousel -->
  <div class="carousel-inner bg-dark ">
    <div class="carousel-item active">
      <a href="home" routerLink="home"><img src="./assets/Carrusel/home.jpg" alt="Los Angeles" class="d-block carImg" ></a>
      <div class="carousel-caption">
        <h3>Muestra</h3>
        <p>Una selección de las ultimas imagenes de nuestra web!</p>
      </div>
    </div>
    <div class="carousel-item">
      <a href="blog" routerLink="blog"><img src="./assets/Carrusel/blog.jpg" alt="Los Angeles" class="d-block carImg" ></a>
      <div class="carousel-caption">
        <h3>Blog</h3>
        <p>Accede al blog con los post de otros usuarios!</p>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="d-flex justify-content-center">
    <h3 class="h3">Nuestros administradores</h3>
  </div>

  <div class="row row-cols-1 row-cols-md-2 g-2 d-flex justify-content-around">

    <div class="card mx-1 admins d-flex">
      <img class="card-img-top" src="./assets/logotexto.png" alt="Card image">
      <div class="card-body d-flex flex-column align-items-center">
        <h4 class="card-title">Pablo Higon</h4>
        <p class="card-text">Encargado de servidor.</p>
      </div>
    </div>

    <div class="card mx-1 admins d-flex">
      <img class="card-img-top" src="./assets/logotexto.png" alt="Card image">
      <div class="card-body d-flex flex-column align-items-center">
        <h4 class="card-title">Jamie Wright</h4>
        <p class="card-text">El multifacético.</p>
      </div>
    </div>

    <div class="card mx-1 admins d-flex">
      <img class="card-img-top" src="./assets/logotexto.png" alt="Card image">
      <div class="card-body d-flex flex-column align-items-center">
        <h4 class="card-title">Jaime Calderón</h4>
        <p class="card-text">Desarrollador Backend.</p>
      </div>
    </div>

    <div class="card mx-1 admins d-flex">
      <img class="card-img-top" src="./assets/logotexto.png" alt="Card image">
      <div class="card-body d-flex flex-column align-items-center">
        <h4 class="card-title">Sergey "Bio" Brovko</h4>
        <p class="card-text">Sabe de seres vivos.</p>
      </div>
    </div>

  </div>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
