.post-body {
  border-radius: 10px;
  margin-bottom: 5px;
  font-family: Opensans;
  transition: 0.3s ease-in-out;
}

.post-body:hover {
  background-color: rgb(32, 32, 32);
  cursor: pointer;
  transform: translateY(-2px);
  transition: 0.3s ease-in-out;
}


.menu-lat {
  box-shadow: 0 -2px 2px 2px rgba(0,0,0,.2);
}

.menu-lat .title {
  color: black;
  font-family: Archivo;
  font-weight: 900;
  font-size: 32px;
}

.menu-lat .menu-content {
  color: black;
  font-family: Archivo;
  font-size: 22px;
  transition: 0.3s ease-in-out;
}

.menu-lat .menu-content:hover {
  transform: translateX(5px);
  transition: 0.3s ease-in-out;
}

.menu-lat hr {
  color: black;
  width: 100%;
}

.modal-content {
  border-radius: 10px;
  border: 0px;
}

.modal-title {
  font-family: Archivo;
  font-weight: 900;
}

.modal-body p {
  font-family: Opensans-bold;
}

label {
  opacity: 0.7;
}

.label-posts {
  opacity: 1;
}

.aceptar-button {
  background-color: black;
  color: white;
  border-radius: 10px;
  font-family: Opensans-bold;
}

.aceptar-button:hover {
  background-color: rgb(24, 24, 24);
}

.trash {
  transition: 0.5s ease-in-out;
}

.trash:hover {
  transform: translateY(-3px);
  transition: 0.3s ease-in-out;
}

.btn-close:focus {
  outline: none;
  box-shadow: none;
}
