<div class="container-lg" *ngFor="let  data of dataarray; let iControl=index">
<ng-template  [ngIf]="user" [ngIfElse]="no">
  <ng-template [ngIf]="user.tipe == 1" [ngIfElse]="administrador">
  <ng-template [ngIf]="user.id == data.usuario_id" [ngIfElse]="comentar">

    <div [routerLink]="['/blog',data.id]" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}" class="bg-light text-dark list-group-item list-group-item-action flex-column align-items-start post-body">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1 fw-bold">{{data.titulo}}</h5>
      </div>
        <p class="mb-1">{{data.mensaje}}</p>
        <small>Autor: {{data.nombre}}</small>
        <p>Media de valoraciones: {{data.media}}</p>
    </div>
  </ng-template >
  <ng-template #comentar>
    <div class="bg-light text-dark list-group-item list-group-item-action  post-body">
      <div class="row row-cols-2">
      <a data-bs-toggle="modal" (click)="abrirComentario(data)" data-bs-target="#comentariosModal">
      <div >
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1 fw-bold">{{data.titulo}}</h5>
        </div>
          <p class="mb-1">{{data.mensaje}}</p>
          <small>Autor: {{data.nombre}}</small>

      </div>
      </a>
      <app-valoraciones [rating]="data.valoracion" [ra]="data.valoracion" (ratingChanged)="changeRating($event,data)"></app-valoraciones>
      <p>Media de valoraciones: {{data.media}}</p>
    </div>
    </div>
  </ng-template>
  </ng-template>
  <ng-template #administrador>
      <div [routerLink]="['/blog',data.id]" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}" class="bg-light text-dark list-group-item list-group-item-action flex-column align-items-start post-body">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1 fw-bold">{{data.titulo}}</h5>
        </div>
          <p class="mb-1">{{data.mensaje}}</p>
          <small>Autor: {{data.nombre}}</small>
          <p>Media de valoraciones: {{data.media}}</p>
      </div>
  </ng-template>
</ng-template>

<ng-template #no>
  <div class="bg-light text-dark list-group-item list-group-item-action flex-column align-items-start post-body">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1 fw-bold">{{data.titulo}}</h5>
    </div>
    <p class="mb-1">{{data.mensaje}}</p>
    <small>Autor: {{data.nombre}}</small>
    <p>Media de valoraciones: {{data.media}}</p>
  </div>
</ng-template>
</div>
<!--Modal crear post-->
<div class="modal fade mt-sm-5" id="comentariosModal">
  <div class="modal-dialog modal-fullscreen-sm-down">
      <div class="modal-content">

  <!-- Modal Header -->
          <div class="modal-header">
              <h4 class="modal-title">Crear nuevo comentario</h4>
              <button type="button" class="btn-close" data-bs-dismiss="modal" (click)="closeComentarioForm()"></button>
          </div>

  <!-- Modal body -->
          <div class="modal-body">
            <ng-template [ngIf]="$abrir" [ngIfElse]="abrira">
              <p>Nuevo comentario</p>
              <form [formGroup]="comentarioForm" (ngSubmit)="comentarioFormSubmit()" class="mt-2">
                  <div class="mb-3">
                    <textarea class="form-control" id="textarea" formControlName="message" [class.is-invalid]="contentField.touched && contentField.invalid" placeholder="Contenido de tu comentario" rows="5" required></textarea>
                    <div *ngIf="contentField.touched && contentField.hasError('required')" class="d-block invalid-feedback">Porfavor introduce tu mensaje. Mínimo 10 carácteres.
                    </div>
                  </div>
                  <button [disabled]="comentarioForm.invalid"  type="submit" data-bs-dismiss="modal" class=" mt-3 btn aceptar-button w-100">Añadir comentario</button>
              </form>
            </ng-template>
            <ng-template #abrira>
              <p>Ya has comentado este post</p>
            </ng-template>
          </div>
      </div>
  </div>
</div>
